/* Common styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Antonio', sans-serif;
  background-color: rgb(7, 7, 36);
}

html {
  font-size: 62.5%;
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  border-bottom: 1px solid #2f2e4c;
}

.list-container {
  display: flex;
  gap: 2.5em;
}

.list-item {
  font-size: 1.3em;
  background-color: transparent;
}

.list-item > a {
  font-family: 'League Spartan', sans-serif;
  color: #9697a8;
}

.list-item > a:hover {
  color: #6D2ED3;
}

a {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  transition: color .15s ease-out;
}

li {
  list-style-type: none;
}

.home-link-logo > a{
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
}

.current-description {
  font-weight: 300;
  font-size: 2em;
  width: 20em;
  line-height: 1.25;
  color: #C1C1D8;
  font-family: 'League Spartan', sans-serif;
}

#hamburguer-menu {
  display: none;
  /* padding: 1em; */
  background-color: transparent;
  border: none;
  color: white;
}

#hamburguer-menu:hover {
  cursor: pointer;
}

.material-symbols-outlined.white.size-32{
  font-size: 3.2rem;
}

.material-symbols-outlined.size-12 {
  font-size: 0.8em;
}

.menu-overriding-page {
  overflow: hidden;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    position: absolute;
    height: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2em;
    gap: 2em;
}

.show {
  height: 35em;
  padding: 2em;
}

.background-ative {
  color: white;
  background-color: #6F2ED4;
}

.planet-content-information {
  display: flex;
  flex-direction: column;
  gap: 10em;
  padding-top: 10em;
  padding-inline: 15em;
  padding-bottom: 5em;
}

.planet-main-informations-section {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.planet-description-informations {
  display: flex;
    flex-direction: column;
    gap: 3em;
}

.image-container {
  padding-left: 15em;
}

.planet-informations-section {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
  gap: 3em;
}

.planet-title {
  font-size: 6.4em;
}

.source-text {
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
  color: rgb(92, 92, 131);
  font-size: 1.8em;
  font-family: 'League Spartan', sans-serif;
}

.wikipedia-link {
  color: #7C7D93;
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  text-decoration: underline;
}

.change-informations-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.information-button {
  display: flex;
  background-color: transparent;
  border: 1px solid hsl(242, 25%, 24%);
  padding-inline: 2em;
  padding-block: 1em;
  color: white;
  font-family: 'League Spartan', sans-serif;
  width: 100%;
  text-align: left;
  gap: 2em;
  transition: background-color 0.2s ease-in-out;
}

.information-button:hover {
  cursor: pointer;
  background-color: rgba(47, 46, 77, 0.5);
}

.active-button {
  background-color: #6D2ED5;
}

.text-button {
  color: white;
  font-weight: 500;
  background-color: transparent;
  font-family: 'League Spartan', sans-serif;
  letter-spacing: 0.2em;
}

.cards-planet-information {
  display: flex;
  justify-content: space-between;
}

.card-information {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 20%;
  background-color: transparent;
  border: 1px solid #2f2e4c;
  padding: 2em;
}

.card-title {
  color: #7C7D93;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'League Spartan', sans-serif;
}

.card-value {
  font-size: 3.2em;
}

.informations-mobile-tab {
  display: none;
  border: 1px solid #2f2e4c;
  justify-content: space-between;
  padding-inline: 2em;
}

.select-tab {
  border: none;
  color: white;
  width: 30%;
  border-bottom: 5px solid transparent;
  transition: border ease-in 0.2s;
}

.tab {
  font-family: 'League Spartan', sans-serif;
  text-align: center;
  padding-block: 2em calc(2em + 5px);
  letter-spacing: 0.2em;
  
}

.active {
  border: 0;
  border-bottom: 5px solid #6235B1;
}

/* Media queries */

@media (max-width: 1500px) {
  .image-container {
    padding-left: 0;
  }
}

@media (max-width: 1200px) {
  .nav-container {
    flex-direction: column;
    gap: 3.5em;
    
  }

  .list-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10em;
  }

  .planet-informations-section {
    flex-direction: column;
  }

  .planet-main-informations-section {
    flex-direction: row;
  }

  .change-informations-container {
    align-self: center;
    width: 100%;
  }
  
}

@media (max-width: 900px) {
  .planet-content-information {
      padding-inline: 2em;
    }
  .planet-main-informations-section {
    flex-direction: column;
  }
  .current-description{
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
  }
  .image-container>img {
    height: 70vw;
    width: 70vw;
  }
  
}

@media (max-width: 768px) {
  .planet-content-information {
    gap: 2em;
    padding-top: 5em;
  }
  .image-container {
    margin-bottom: 2em;
  }
  .nav-container {
    flex-direction: row;
  }

  .list-container{
    display: none;
  }

  #hamburguer-menu {
    display: flex;
  }

  .change-informations-container {
    display: none;
  }
  .cards-planet-information {
    flex-direction: column;
  }
  .card-information {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .informations-mobile-tab {
    display: flex;
  }
  .planet-title {
    text-align: center;
  }
  .current-description {
    text-align: center;
  }
  .source-text {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .card-value {
    font-size: 1.6em;
  }
}